@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&family=Mulish:wght@400;700&family=Roboto+Slab&family=Roboto:ital,wght@1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
  font-family: "Mulish", sans-serif;
}

/* header */

header {
  padding: 55px;
  padding-bottom: 0;
}

nav.menu {
  display: flex;
  align-items: center;
}

nav.menu > a {
  text-decoration: none;
  color: #333;
}

a.menu_logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  text-indent: 20px;
}

.menu_link,
.menu_link-active {
  padding: 10px;
  margin: 10px;
}

.menu_link-active {
  font-weight: bold;
}

/* welcome */

.welcome {
  padding: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome_text {
  max-width: 450px;
}

.welcome_header {
  font-size: 48px;
  margin-bottom: 20px;
}

.welcome_button {
  margin-top: 20px;

  display: inline-block;
  padding: 20px 60px;
  background-color: #458ff8;
  color: #fff;
  border-radius: 55px;
}

.welcome_image {
  max-width: 500px;
}
